<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>e.g.com.pyocr.acerfeng</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>040AF719-FE36-4959-B769-68324267BDDC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FF4D49A3-1801-4144-98A8-4ED14E2E70D2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>09DA7AFC-BC12-44EB-B481-42C99161302E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7856A5EA-3535-4E43-9A70-4BEDA7544A58</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>630FD8AC-1ADF-406A-AA7E-0251413F33A7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8CA3D132-2770-49D2-8520-53132ACB3688</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7856A5EA-3535-4E43-9A70-4BEDA7544A58</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FF4D49A3-1801-4144-98A8-4ED14E2E70D2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8CA3D132-2770-49D2-8520-53132ACB3688</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>439C5FBF-D730-48B1-AF4E-37E9F4B1F728</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>187CB496-250D-40F6-8767-2DB7BB54DA1A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>98B11F63-EFFC-405A-A19B-80869E4F95CD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>630FD8AC-1ADF-406A-AA7E-0251413F33A7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B62DBEC9-4341-488B-A2C7-6477451E6810</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8CA3D132-2770-49D2-8520-53132ACB3688</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D23A0B01-EC0A-4F00-A29C-962CC27CA10D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8CA3D132-2770-49D2-8520-53132ACB3688</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F2F42ADE-5D3B-4E1A-88AD-50E2886BF004</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D23A0B01-EC0A-4F00-A29C-962CC27CA10D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FF4D49A3-1801-4144-98A8-4ED14E2E70D2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>11CCD185-6217-4387-87F9-080496D1AA49</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D0D22C04-4D31-4437-AE10-7A1D043F78B0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>lanfeng</string>
	<key>description</key>
	<string>ocr</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Pyocr</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>识别结果</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>439C5FBF-D730-48B1-AF4E-37E9F4B1F728</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>12</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>Q</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>98B11F63-EFFC-405A-A19B-80869E4F95CD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>screencapture -i /tmp/ocr_snapshot.png

echo -n /tmp/ocr_snapshot.png</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>630FD8AC-1ADF-406A-AA7E-0251413F33A7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo -n "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D23A0B01-EC0A-4F00-A29C-962CC27CA10D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>pyocr</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Pyocr</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F2F42ADE-5D3B-4E1A-88AD-50E2886BF004</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python pyocr.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8CA3D132-2770-49D2-8520-53132ACB3688</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>187CB496-250D-40F6-8767-2DB7BB54DA1A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>13</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>W</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>B62DBEC9-4341-488B-A2C7-6477451E6810</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>扫码结果</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>11CCD185-6217-4387-87F9-080496D1AA49</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>screencapture -i /tmp/ocr_snapshot.png

echo -n /tmp/ocr_snapshot.png</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7856A5EA-3535-4E43-9A70-4BEDA7544A58</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>14</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>E</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>09DA7AFC-BC12-44EB-B481-42C99161302E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python qrcode.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FF4D49A3-1801-4144-98A8-4ED14E2E70D2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>D0D22C04-4D31-4437-AE10-7A1D043F78B0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>15</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>R</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>040AF719-FE36-4959-B769-68324267BDDC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>该工作流主要有以下功能：
1. 设置快捷键截图上传百度云 OCR API 识别文本信息
2. 通过选择图片上传百度云 OCR API 识别文本信息
3. 通过输入图片链接上传百度云 OCR API 识别文本信息
4. 截图本地识别二维码
5. 选择本地图片识别二维码</string>
	<key>uidata</key>
	<dict>
		<key>040AF719-FE36-4959-B769-68324267BDDC</key>
		<dict>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>750</integer>
		</dict>
		<key>09DA7AFC-BC12-44EB-B481-42C99161302E</key>
		<dict>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>560</integer>
		</dict>
		<key>11CCD185-6217-4387-87F9-080496D1AA49</key>
		<dict>
			<key>xpos</key>
			<integer>790</integer>
			<key>ypos</key>
			<integer>520</integer>
		</dict>
		<key>187CB496-250D-40F6-8767-2DB7BB54DA1A</key>
		<dict>
			<key>xpos</key>
			<integer>790</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>439C5FBF-D730-48B1-AF4E-37E9F4B1F728</key>
		<dict>
			<key>xpos</key>
			<integer>770</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>630FD8AC-1ADF-406A-AA7E-0251413F33A7</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>7856A5EA-3535-4E43-9A70-4BEDA7544A58</key>
		<dict>
			<key>xpos</key>
			<integer>340</integer>
			<key>ypos</key>
			<integer>560</integer>
		</dict>
		<key>8CA3D132-2770-49D2-8520-53132ACB3688</key>
		<dict>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>98B11F63-EFFC-405A-A19B-80869E4F95CD</key>
		<dict>
			<key>xpos</key>
			<integer>140</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>B62DBEC9-4341-488B-A2C7-6477451E6810</key>
		<dict>
			<key>xpos</key>
			<integer>140</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>D0D22C04-4D31-4437-AE10-7A1D043F78B0</key>
		<dict>
			<key>xpos</key>
			<integer>790</integer>
			<key>ypos</key>
			<integer>690</integer>
		</dict>
		<key>D23A0B01-EC0A-4F00-A29C-962CC27CA10D</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>F2F42ADE-5D3B-4E1A-88AD-50E2886BF004</key>
		<dict>
			<key>xpos</key>
			<integer>140</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>FF4D49A3-1801-4144-98A8-4ED14E2E70D2</key>
		<dict>
			<key>xpos</key>
			<integer>570</integer>
			<key>ypos</key>
			<integer>600</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>bce_api_key</key>
		<string>XS17N7RsXEFnnYybxNFLxXHF</string>
		<key>bce_api_secret</key>
		<string>MGnslu3BfHDkY1IgNxFQfArmKwa9rsEZ</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>bce_api_secret</string>
		<string>bce_api_key</string>
	</array>
	<key>version</key>
	<string>0.1.0</string>
	<key>webaddress</key>
	<string>https://github.com/AcerFeng/Pyocr-Alfredworkflow</string>
</dict>
</plist>
